<included scan="true" scanPeriod="1 minutes">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="spring" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/w/spring_mongo/spring.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${catalina.home:-.}/logs/w/archive/spring_mongo/spring.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/w/spring_mongo/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${catalina.home:-.}/logs/x/archive/spring_mongo/all.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/w/spring_mongo/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${catalina.home:-.}/logs/w/archive/spring_mongo/app.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="orm" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/w/spring_mongo/orm.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${catalina.home:-.}/logs/w/archive/spring_mongo/orm.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <appender name="cache" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home:-.}/logs/w/spring_mongo/cache.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${catalina.home:-.}/logs/w/archive/spring_mongo/cache.%d{yyyy-MM-dd}.old.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%X{key}]%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} %-5level %logger{35} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="warn" additivity="false">
        <appender-ref ref="spring"/>
    </logger>

    <logger name="org.springframework.cache" level="warn" additivity="false">
        <appender-ref ref="cache"/>
    </logger>

    <logger name="org.springframework.data.redis" level="warn" additivity="false">
        <appender-ref ref="cache"/>
    </logger>

    <logger name="redis.clients.jedis" level="warn" additivity="false">
        <appender-ref ref="cache"/>
    </logger>

    <logger name="com.oct" level="warn" additivity="false">
        <appender-ref ref="app"/>
    </logger>

    <logger name="org.hibernate" level="warn" additivity="false">
        <appender-ref ref="orm"/>
    </logger>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="all"/>
    </root>
</included>
